---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";

import Layout from "../../layouts/Layout.astro";

const posts = await getCollection("blog", (post) => {
  return import.meta.env.MODE !== "production" || post.data.isDraft === false;
});
---

<Layout title="Ryel's Blog">
  <div class="mb-9">
    <h1 class="text-2xl font-extrabold text-neutral-400">Blog</h1>

    <p>Things I've written.</p>
  </div>

  <div class="grid grid-cols-1 gap-6">
    {
      posts.length === 0 && (
        <p class="text-center text-neutral-500">
          No posts yet. Check back later!
        </p>
      )
    }

    {
      posts.map((post) => {
        return (
          <a
            rel="prefetch"
            href={`/blog/${post.slug}`}
            class="rounded bg-neutral-900 p-3"
          >
            <h2 class="text-xl font-semibold text-neutral-400 mb-3">
              {post.data.title}
            </h2>

            <p class="mb-6">{post.data.description}</p>

            <Image
              src={post.data.image}
              alt={`Image for ${post.data.title}`}
              width={1920}
              height={1080}
              class="mb-6 rounded"
            />

            <div class="mb-3 border-b-2 border-neutral-800" />

            <ul class="flex flex-wrap gap-3">
              {post.data.tags.map((tag) => (
                <li class="text-center text-xs">{tag}</li>
              ))}
            </ul>
          </a>
        );
      })
    }
  </div>
</Layout>
