---
import { Image } from "@astrojs/image/components";

import Layout from "../layouts/Layout.astro";
import Section from "../layouts/Section.astro";

import CodingImage from "../images/Coding.webp";
import F1Image from "../images/Formula-1.webp";
import GamingImage from "../images/Video-Games.webp";
import TravelImage from "../images/Travel.webp";

const tools = [
  {
    category: "Languages",
    software: [{ name: "TypeScript", href: "https://www.typescriptlang.org" }],
  },
  {
    category: "Frameworks",
    software: [
      { name: "Astro", href: "https://astro.build" },
      { name: "Next.js", href: "https://nextjs.org" },
      { name: "React Native", href: "https://reactnative.dev" },
    ],
  },
  {
    category: "CSS Frameworks",
    software: [{ name: "TailwindCSS", href: "https://tailwindcss.com" }],
  },
  {
    category: "Software Tools",
    software: [
      { name: "VSCode", href: "https://code.visualstudio.com" },
      { name: "GitHub", href: "https://github.com" },
    ],
  },
];

const hobbies = [
  { name: "Coding", image: CodingImage },
  { name: "Formula 1", image: F1Image },
  { name: "Video Games", image: GamingImage },
  { name: "Travel", image: TravelImage },
];
---

<Layout title="Ryel's Portfolio & Blog">
  <div class="grid grid-cols-1 gap-6">
    <Section>
      <h1
        class="animate-text bg-gradient-to-r from-red-600 via-red-900 to-black bg-clip-text text-4xl font-extrabold text-transparent"
      >
        Ryel Banfield
      </h1>
      <p>Full Stack Developer, Entrepreneur, Digital Nomad.</p>
    </Section>

    <Section>
      <h2
        class="mb-3 bg-gradient-to-b from-red-900 to-red-600 bg-clip-text text-3xl font-semibold text-transparent"
      >
        About
      </h2>
      <p class="mb-3">
        Full Stack Developer with 2+ years of experience and a track record of
        building successful web and mobile applications. With my skills and
        experience, I am able to solve real-world problems and deliver
        high-quality results. I am a valuable asset to any team and a
        professional who is passionate about technology and software
        development.
      </p>
      <a href="/RyelBanfield-Resume.pdf" download>
        <button
          type="button"
          class="mb-6 w-full rounded bg-red-900 p-3 hover:bg-red-800"
        >
          Download Resume
        </button>
      </a>
    </Section>

    <Section>
      <h2
        class="mb-3 bg-gradient-to-b from-red-900 to-red-600 bg-clip-text text-3xl font-semibold text-transparent"
      >
        Tools
      </h2>
      <div class="grid grid-cols-2 gap-6">
        {
          tools.map((tool) => (
            <div>
              <h3 class="text-lg font-medium uppercase text-neutral-300">
                {tool.category}
              </h3>
              <ul>
                {tool.software.map((software) => (
                  <li class="underline hover:text-red-600">
                    <a href={software.href} target="_blank" class="text-lg">
                      {software.name}
                    </a>
                  </li>
                ))}
              </ul>
            </div>
          ))
        }
      </div>
    </Section>

    <Section>
      <h2
        class="mb-3 bg-gradient-to-b from-red-900 to-red-600 bg-clip-text text-3xl font-semibold text-transparent"
      >
        Hobbies
      </h2>
      <div class="grid grid-cols-2 gap-6">
        {
          hobbies.map((hobby) => (
            <div>
              <h3 class="text-lg font-medium uppercase text-neutral-300">
                {hobby.name}
              </h3>
              <Image
                src={hobby.image}
                alt=""
                width={600}
                height={370}
                quality={20}
                class="mt-3"
              />
            </div>
          ))
        }
      </div>
    </Section>
  </div>
</Layout>
