---
import Layout from "../layouts/Layout.astro";
import Section from "../layouts/Section.astro";
import { Image } from "@astrojs/image/components";

const tools = [
  {
    category: "Languages",
    software: [{ name: "TypeScript", href: "https://www.typescriptlang.org" }],
  },
  {
    category: "Frameworks",
    software: [
      { name: "Astro", href: "https://astro.build" },
      { name: "Next.js", href: "https://nextjs.org" },
      { name: "React Native", href: "https://reactnative.dev" },
    ],
  },
  {
    category: "CSS Frameworks",
    software: [{ name: "TailwindCSS", href: "https://tailwindcss.com" }],
  },
  {
    category: "Software Tools",
    software: [
      { name: "VSCode", href: "https://code.visualstudio.com" },
      { name: "GitHub", href: "https://github.com" },
    ],
  },
];

const hobbies = [
  { name: "Coding", image: "/images/Coding.webp" },
  { name: "Formula 1", image: "/images/Formula-1.webp" },
  { name: "Video Games", image: "/images/Video-Games.webp" },
  { name: "Travel", image: "/images/Travel.webp" },
];
---

<Layout title="Ryel's Portfolio & Blog">
  <div class="grid grid-cols-1 gap-6">
    <Section>
      <h1 class="mb-3 text-3xl font-bold text-neutral-300">Ryel Banfield</h1>
      <p>Software Developer, Entrepreneur, Digital Nomad.</p>
    </Section>

    <Section>
      <h2 class="mb-3 text-2xl font-semibold text-neutral-300">Who am I?</h2>
      <p>
        A Software Developer with 2+ years of experience and a track record of
        building successful web and mobile applications. With my skills and
        experience, I am able to solve real-world problems and deliver
        high-quality results. I am a valuable asset to any team and a
        professional who is passionate about technology and software
        development.
      </p>
    </Section>

    <Section>
      <h2 class="mb-3 text-2xl font-semibold text-neutral-300">
        What do I create with?
      </h2>
      <div class="grid grid-cols-2 gap-6">
        {
          tools.map((tool) => (
            <div>
              <h3 class="text-xl font-semibold uppercase text-neutral-300">
                {tool.category}
              </h3>
              <ul>
                {tool.software.map((software) => (
                  <li class="underline hover:text-red-600">
                    <a href={software.href} target="_blank" class="text-lg">
                      {software.name}
                    </a>
                  </li>
                ))}
              </ul>
            </div>
          ))
        }
      </div>
    </Section>

    <Section>
      <h2 class="mb-3 text-2xl font-semibold text-neutral-300">
        What do I enjoy?
      </h2>
      <div class="grid grid-cols-2 gap-6">
        {
          hobbies.map((hobby) => (
            <div>
              <h3 class="text-xl font-semibold uppercase text-neutral-300">
                {hobby.name}
              </h3>
              <Image src={hobby.image} alt="" width={600} height={370} />
            </div>
          ))
        }
      </div>
    </Section>
  </div>
</Layout>
