---
import { Image } from "@astrojs/image/components";

import Layout from "../../layouts/Layout.astro";

import { projects } from "../../projects";

export const getStaticPaths = async () => {
  const pages = [...projects];

  return pages.map(
    ({
      slug,
      name,
      longDescription,
      stack,
      screenshots,
      githubRepository,
      liveLink,
    }) => {
      return {
        params: { slug },
        props: {
          name,
          longDescription,
          stack,
          screenshots,
          githubRepository,
          liveLink,
        },
      };
    }
  );
};

const {
  name,
  longDescription,
  stack,
  screenshots,
  githubRepository,
  liveLink,
} = Astro.props as {
  name: string;
  longDescription: string;
  stack: string[];
  screenshots: ImageMetadata[];
  githubRepository: string;
  liveLink: string;
};
---

<Layout title={`Ryel's Portfolio | ${name}`}>
  <section class="flex flex-col rounded bg-neutral-900 p-3">
    <h1 class="text-2xl font-semibold text-neutral-400 mb-3">
      {name}
    </h1>

    <p class="mb-3">{longDescription}</p>

    <section id="content-box" class="mb-3">
      {
        screenshots.map((screenshot) => (
          <Image
            src={screenshot}
            alt={`Screenshot of ${name}`}
            quality={10}
            class="aspect-video"
          />
        ))
      }
    </section>

    <div class="flex gap-3 mb-3">
      <a
        href={githubRepository}
        target="_blank"
        class="underline hover:text-red-600">GitHub Repository</a
      >
      <a href={liveLink} target="_blank" class="underline hover:text-red-600"
        >Live Link</a
      >
    </div>

    <div class="mb-3 border-b-2 border-neutral-800"></div>

    <ul class="flex flex-wrap gap-3">
      {stack.map((tech) => <li class="text-center text-xs">{tech}</li>)}
    </ul>
  </section>
</Layout>

<script>
  import { BoxSlider, FadeSlider } from "@boxslider/slider";

  const options = {
    effect: new FadeSlider(),
    autoScroll: true,
    timeout: 1250,
  };

  const box = document.querySelector("#content-box") as HTMLElement;

  // Create a fading slide transition that moves to the next slide every 5 seconds (5000ms)
  const slider = new BoxSlider(box, options);

  // Call API methods on the slider to manipulate it see documentation for available actions
  slider.next().then(() => {
    //   // Promise resolves when the box has transitioned to the next slide
  });
</script>
