---
import { Image } from "@astrojs/image/components";

import Layout from "../../layouts/Layout.astro";

import { projects } from "../../projects";
---

<Layout title="Ryel's Portfolio">
  <div class="mb-9">
    <h1 class="text-2xl font-extrabold text-neutral-400">Projects</h1>

    <p>Things I've built.</p>
  </div>

  <div class="grid grid-cols-1 gap-6">
    {
      projects.map((project) => (
        <a
          rel="prefetch"
          href={`/portfolio/${project.slug}`}
          class="rounded bg-neutral-900 p-3"
        >
          <div class="flex justify-between items-center">
            <h2 class="text-xl mb-3 font-semibold text-neutral-400">
              {project.name}
            </h2>

            <p class="mb-3">{project.shortDescription}</p>
          </div>

          <Image
            src={project.preview}
            alt={`Screenshot of ${project.name}`}
            quality={10}
          />

          <div class="mb-3 border-b-2 border-neutral-800" />

          <ul class="flex flex-wrap gap-3">
            {project.stack.map((tech) => (
              <li class="text-center text-xs">{tech}</li>
            ))}
          </ul>
        </a>
      ))
    }
  </div>
</Layout>
