---
import { Image } from "@astrojs/image/components";

import Layout from "../../layouts/Layout.astro";

import { projects } from "../../projects";
---

<Layout title="Ryel's Portfolio">
  <div class="grid grid-cols-1 gap-6">
    {
      projects.map((project) => (
        <a
          rel="prefetch"
          href={`/portfolio/${project.slug}`}
          class="rounded bg-neutral-100 p-3 text-neutral-900"
        >
          <div class="flex justify-between">
            <h1 class="bg-gradient-to-b from-red-900 to-red-600 bg-clip-text text-xl font-semibold text-transparent">
              {project.name}
            </h1>

            {project.development === true ? (
              <p class="text-sm font-medium text-red-800">Active Development</p>
            ) : (
              <p class="text-sm font-medium text-green-800">
                No Active Development
              </p>
            )}
          </div>

          <p>{project.shortDescription}</p>

          <Image
            src={project.preview}
            alt={`Screenshot of ${project.name}`}
            quality={10}
          />

          <div class="divider mb-3" />

          <ul class="flex flex-wrap gap-3">
            {project.stack.map((tech) => (
              <li class="text-center text-xs">{tech}</li>
            ))}
          </ul>
        </a>
      ))
    }
  </div>
</Layout>

<style>
  .divider {
    width: 100%;
    height: 2px;
    background: -webkit-linear-gradient(left, red, black);
    background: -moz-linear-gradient(left, red, black, red, black, red);
    background: -o-linear-gradient(left, red, black, red, black, red);
    background: -ms-linear-gradient(left, red, black, red, black, red);
    background: linear-gradient(to right, red, black, red, black, red);
    background-repeat: repeat-x;

    -webkit-animation: go 20s linear infinite;
    -moz-animation: go 20s linear infinite;
    -o-animation: go 20s linear infinite;
    -ms-animation: go 20s linear infinite;
    animation: go 20s linear infinite;
  }

  @-webkit-keyframes go {
    0% {
      background-position: 0;
    }
    100% {
      background-position: 6000px 0;
    }
  }
  @-moz-keyframes go {
    0% {
      background-position: 0;
    }
    50% {
      background-position: 400px 0;
    }
    100% {
      background-position: 6000px 0;
    }
  }
  @-o-keyframes go {
    0% {
      background-position: 0;
    }
    100% {
      background-position: 6000px 0;
    }
  }
  @-ms-keyframes go {
    0% {
      background-position: 0;
    }
    100% {
      background-position: 6000px 0;
    }
  }
  @keyframes go {
    0% {
      background-position: 0;
    }
    100% {
      background-position: 6000px 0;
    }
  }
</style>
